{% extends "layout.html" %}
{% block title %}Super User{% endblock %}
{% block content %}
    <p>Nothing here yet :(</p>

    <a>Student Creation Form: </a> <br/>
    <form method="post" action=""> <!-- USER CREATION FORM -->
    	<a>Name: </a><input name="name" type="text"> <br/>
    	<a>ID: </a><input name="id" type="text"> <br/>
    	<a>Departmant: </a><input name="departmant" type="text"> <br/>
    	<a>Faculty: </a><input name="faculty" type="text"> <br/>
    	<a>Club (if any): </a><input name="faculty" type="text"> <br/>
    	<a>Lab (if any): </a><input name="faculty" type="text"> <br/>
	</form>
	<a>Instructors Creation Form: </a> <br/>
    <form method="post" action=""> <!-- INSTRUCTOR CREATION FORM -->
    	<a>Name: </a><input name="name" type="text"> <br/>
    	<a>Department: </a><input name="department" type="text"> <br/>
    	<a>Lecture ID: </a><input name="lecture_id" type="text"> <br/>
    	<a>Room : </a><input name="room" type="text"> <br/>
		<a>Lab (if any): </a><input name="lab" type="text"> <br/>
		<button type="submit" name="submit_button" value="save_instructor">Save</button>
	</form>
	<a>Room Creation Form: </a> <br/>
    <form method="post" action=""> <!-- ROOM CREATION FORM -->
    	<a>Name: </a><input name="name" type="text"> <br/>
    	<a>Building: </a><input name="building" type="text"> <br/>
    	<a>Capacity: </a><input name="capacity" type="text"> <br/>
    	<a>Room : </a><input name="room" type="text"> <br/>
		<input type="radio" name="type" value="class"> Class
		<input type="radio" name="type" value="lab"> Lab
		<input type="radio" name="type" value="room"> Room <br/>  
		<!--<button type="submit" name="submit_button" value="save_room">Save</button> -->
	</form>
	<a>Classroom Creation Form: </a> <br/>
    <form method="post" action=""> <!-- CLASSROOM CREATION FORM -->
    	<a>Building: </a><input name="building" type="text"> <br/>
		<!--<button type="submit" name="submit_button" value="save_classroom">Save</button> -->
	</form>
{% endblock %}
