{% extends "layout.html" %}
{% block title %}Assistants{% endblock %}
{% block content %}
    <h1 class="title">Assistants</h1>
    {% if assistants %}
    <form action="" method="post" name="assistant_list">
        <table>
            {% for assistant in assistants %}
            <tr>
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="as_id" value="{{ assistant["ID"] }}"/>
                    </label>
                    {{ assistant["Name"] }}
                </td>
                <td>
                    {{ assistant["Degree"] }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
    {% endif %}
{% endblock %}