{% extends "layout.html" %}
{% block title %}Classrooms{% endblock %}
{% block content %}
    <h1>Classrooms</h1>

    {% if classrooms %}
    <form action="" method="post" name="classrooms_list">
      <table class="table">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Class Name</th>
            <th>Capacity</th>
            <th>Class Type</th>
            <th>Building Name</th>
            
        </tr>
        {% for classroom in classrooms %}
        <tr>
          <td>
              {% for key, value in classroom.items() %}

                <td>{{ value }} <br/></td>

              {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </form>
    {% endif %}
{% endblock %}