{% extends "layout.html" %}
{% block title %}Instructors{% endblock %}
{% block content %}
    <h1>Instructors</h1>

    {% if instructors %}
    <form action="" method="post" name="instructor_list">
      <table class="table">
        <tr>
            <th>Name</th>
            <th>Room</th>
            <th>Lab</th>
            <th>Bachelors</th>
            <th>Masters</th>
            <th>Doctorates</th>
        </tr>
        {% for instructor in instructors %}
        <tr>
            {% for key, value in instructor.items() %}

              <td>{{ value }} <br/></td>

            {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </form>
    {% endif %}
{% endblock %}