{% extends "layout.html" %}
{% block title %}Rooms{% endblock %}
{% block content %}
    <h1>Rooms</h1>

    {% if rooms %}
    <form action="" method="post" name="rooms_list">
      <table class="table">
        <tr>
            <th>Name</th>
            <th>Building</th>
        </tr>
        {% for room in rooms %}
        <tr>
          {% for key, value in room.items() %}

            <td>{{ value }} <br/></td>

          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </form>
    {% endif %}
{% endblock %}